{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    rel="stylesheet" 
    href="{% static 'css/style.css' %}"
    >
    <link 
    rel="stylesheet" 
    media="screen and (max-width: 768px)" 
    href="{% static 'css/styles-mobile.css' %}"
       >
    <link 
    rel="stylesheet" 
    media="screen and (min-width: 769px) and (max-width: 1024px)" 
    href="{% static 'css/styles-tablet.css' %}"
       >
    <link 
    rel="stylesheet"
     media="screen and (width: 768px)" 
     href="{% static 'css/styles-ipadmini.css' %}"
         >
    <!--<link rel="stylesheet" media="screen and (min-width: 1025px)" href="styles-desktop.css">-->
    <title>JO2024</title>

<link 
rel="preconnect" 
href="https://fonts.googleapis.com"
>
<link 
rel="preconnect" 
href="https://fonts.gstatic.com" crossorigin
>
<!-- <link 
href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:wght@100&display=swap" 
rel="stylesheet"
> -->

<link 
href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto:wght@300&display=swap" 
rel="stylesheet"
>

<style>  
  h1 , nav , footer { 
  /*font-family: 'Caprasimo', sans-serif; */
  font-family: 'Comfortaa', sans-serif;
  }
  </style>
</head>

<body>
 <div class="wrapper"> 
  <header>    
	 <div class="logo-wrapper">
     <a href="/index.html">
		  <img
      src="{% static 'img/JO2024.png' %}"
       alt="JO2024 logo"
       width="125"
       height="125"
        class="logo"/>	 
     </a>
	  </div>	   

	 <h1> 
    <a href="/index.html" style="color: black; text-decoration: none;"> JO 2024</a> 
   </h1> 		
  </header>
  
  	<nav>
     <ul>
      <li><a href="/offres.html">Tickets</a></li>
      <li><a href="/registration.html">Register</a></li>
      
     </ul> 
  	</nav>
    
  <div class="content">
    <h1> Login </h1>
   
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="color:red;font-weight:bold"> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <section>
      <form method="POST" enctype="multipart/form-data" >


        <!--  <form method="POST"  action ="www.google.com"> --> 
        
          {% csrf_token %}
        
            <table width="40%" height="100vw" >
              
                {{form.as_table}}
                
            </table>
             <input type="submit" value="Valider">
              <br>
            <p>Pas encore inscrit ? 
              <a href="/registration.html" > c'est par ici</a></p>   

        </form>
    </section>

</div>

  <div class="aside">
    <aside>
      <h1  style="text-align:center">PARIS 2024</h1>
      
      <iframe width=100% height="315" src="https://www.youtube.com/embed/tfBX9dDEhy8?si=LQjIErWJEimuIPnr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <br>
      <br>
      <section>
        Depuis la mise en place, en 2014, de l’Agenda olympique 2020, le CIO encourage les comités d’organisation à proposer de nouveaux sports au sein du programme olympique de leur édition, en tant que « sports additionnels ».
        </section>
        
        <br>

        <section>
        C’est cette opportunité qui a permis à Paris 2024 de proposer au CIO l’inclusion de quatre sports additionnels à son programme. Paris 2024 a fait le choix de sports jeunes, créatifs, spectaculaires et en phase avec leur époque : le surf, l’escalade, le skateboard et le breaking. Paris 2024 s’inscrit dans la continuité des Jeux de Tokyo 2020, qui ont intégré à leur programme trois de ces sports que sont le surf, le skateboard, et l’escalade. 
        </section>

       <br>

       <section>
        Dans cet esprit de parler à un public jeune, et d’inviter la Génération 2024 à faire du sport jusqu’aux Jeux, Paris 2024 profite de cette opportunité pour reconduire ces trois sports, et pour y ajouter le breaking, et qui fera sa grande entrée sur la scène olympique à l’occasion des Jeux Olympiques de Paris 2024. 
       </section>
    </aside>
	</div>
  
  
  <footer style="background-image: url({% static 'img/JO.png' %})">
    <div class="upper-footer">
        <ul>          
          <li><a href="index.html">Home</a></li>
          
          <li><a href="mailto:g-benayoun@live.fr">Contact</a></li>          
        <!-- <li><a href="Javascript:void(0);">Mes autres projets</a></li>-->
        </ul>
      </div>
     
      <div class="socials">
         <a 
         style="text-decoration:none" 
         href="https://www.facebook.com/Paris2024/" >
          <img 
          src="{% static 'img/facebook.png' %}"
          alt="Facebook logo"
          />
         </a> 
         <a 
         style="text-decoration:none" 
         href="https://twitter.com/Paris2024" >
          <img 
          src="{% static 'img/twitter.png' %}"       
          alt="Twitter logo"
          />
         </a> 
         <a 
         style="text-decoration:none" 
         href="https://www.instagram.com/paris2024" >
          <img 
          src="{% static 'img/instagram.png' %}" 
          alt="Instagram logo"
          />
         </a>     
      </div>
	  
	     <div class="watermark">
        @2024
      </div>	
	</footer>
 </div> 

 <script >

  function wrapper() {
   
   var reveals = document.querySelectorAll(".wrapper");
  
   for (var i = 0; i < reveals.length; i++) {
     var windowHeight = window.innerHeight;
     var elementTop = reveals[i].getBoundingClientRect().top;
    
     if (elementTop < 0) {
       reveals[i].classList.add("active");
     } else {
       reveals[i].classList.remove("active");
     }
   }
  
  }
  window.addEventListener("scroll", wrapper);
  
  
  
  function registered_alert()
  {
    alert("Votre compte a bien été créé vous pouvez vous authentifier")
  
  }
  </script>

</body>
</html>
